
.bg-fancy {
    background-color: #FF5733; 
    color: #FFF;
  }
  
  .navbar-nav .nav-link {
    padding: 10px 20px;
  }

  .navbar-nav .nav-link:hover {
    background-color: #FF8C67;
    color: #FFF;
    border-radius: 5px;
  }
  
  .navbar-nav .nav-item.active .nav-link {
    border-bottom: 3px solid #FFF; /
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #FFF;
  }
  
  .container {
    padding: 0;
    margin-top: 20px;

  }
  .navbar {
    box-shadow: 0 4px 6px -6px #222;
    margin: 0 20px; 
  }
  